In [ ]:
Nama : Nurhidayat
NIM : 221011402476
Kelas : 05TPLM006
Mata Kuliah : KECERDASAN BUATAN

In [1]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [2]:
# Daftar perusahaan awal
perusahaan = [
    {"nama": "Perusahaan 1"},
    {"nama": "Perusahaan 2"},
    {"nama": "Perusahaan 3"}
]

# Mengurutkan daftar berdasarkan nama secara terbalik
perusahaan_terurut = sorted(perusahaan, key=lambda x: x["nama"], reverse=True)

# Menampilkan hasil
print(perusahaan_terurut)

[{'nama': 'Perusahaan 3'}, {'nama': 'Perusahaan 2'}, {'nama': 'Perusahaan 1'}]

In [3]:
# Daftar perusahaan dengan informasi domain
perusahaan = [
    {"nama": "Perusahaan 1", "domain": "Ritel", "negara": "Amerika Serikat"},
    {"nama": "Perusahaan 2", "domain": "Teknologi", "negara": "Inggris Raya"},
    {"nama": "Perusahaan 3", "domain": "Layanan Kesehatan", "negara": "Amerika Serikat"}
]

# Mencetak informasi domain dan negara setiap perusahaan
for p in perusahaan:
    print(f"{p['nama']}: {p['domain']} ({p['negara']})")

Perusahaan 1: Ritel (Amerika Serikat)
Perusahaan 2: Teknologi (Inggris Raya)
Perusahaan 3: Layanan Kesehatan (Amerika Serikat)

In [4]:
# Data perusahaan dan karyawan
perusahaan = [
    {
        "nama": "Perusahaan 1",
        "domain": "Pengecer",
        "karyawan": ["John Doe", "Robert Putih", "Ying Han Tan"]
    },
    {
        "nama": "Perusahaan 2",
        "domain": "Teknologi",
        "karyawan": ["Tom Smith", "Rubi Lee"]
    },
    {
        "nama": "Perusahaan 3",
        "domain": "Perawatan Kesehatan",
        "karyawan": ["Kenneth Ng", "Andrew Sebastian"]
    }
]

# Mengelompokkan karyawan berdasarkan domain
karyawan_berdasarkan_domain = {}
for p in perusahaan:
    domain = p["domain"]
    karyawan_berdasarkan_domain[domain] = p["karyawan"]

# Menampilkan hasil
print(karyawan_berdasarkan_domain)

{'Pengecer': ['John Doe', 'Robert Putih', 'Ying Han Tan'], 'Teknologi': ['Tom Smith', 'Rubi Lee'], 'Perawatan Kesehatan': ['Kenneth Ng', 'Andrew Sebastian']}

In [5]:
# Data perusahaan dengan informasi negara dan karyawan
perusahaan = [
    {
        "nama": "Perusahaan 1",
        "negara": "Amerika Serikat",
        "karyawan": ["John Doe", "Ying Han Tan", "Robert White"]
    },
    {
        "nama": "Perusahaan 2",
        "negara": "Inggris",
        "karyawan": ["Tom Smith", "Rubby Lee"]
    },
    {
        "nama": "Perusahaan 3",
        "negara": "Inggris",
        "karyawan": ["Andrew Sebastian", "Kenneth Ng"]
    }
]

# Fungsi untuk mendapatkan daftar karyawan beserta negara perusahaannya
def karyawan_dengan_negara(perusahaan_list):
    hasil = []
    for p in perusahaan_list:
        for karyawan in p["karyawan"]:
            hasil.append({
                "nama_lengkap": karyawan,
                "perusahaan": p["nama"],
                "negara": p["negara"]
            })
    return hasil

# Memanggil fungsi dan menampilkan hasil
daftar_karyawan = karyawan_dengan_negara(perusahaan)
print(daftar_karyawan)

[{'nama_lengkap': 'John Doe', 'perusahaan': 'Perusahaan 1', 'negara': 'Amerika Serikat'}, {'nama_lengkap': 'Ying Han Tan', 'perusahaan': 'Perusahaan 1', 'negara': 'Amerika Serikat'}, {'nama_lengkap': 'Robert White', 'perusahaan': 'Perusahaan 1', 'negara': 'Amerika Serikat'}, {'nama_lengkap': 'Tom Smith', 'perusahaan': 'Perusahaan 2', 'negara': 'Inggris'}, {'nama_lengkap': 'Rubby Lee', 'perusahaan': 'Perusahaan 2', 'negara': 'Inggris'}, {'nama_lengkap': 'Andrew Sebastian', 'perusahaan': 'Perusahaan 3', 'negara': 'Inggris'}, {'nama_lengkap': 'Kenneth Ng', 'perusahaan': 'Perusahaan 3', 'negara': 'Inggris'}]

In [6]:
# Data perusahaan beserta karyawan dan kewarganegaraan mereka
perusahaan = [
    {
        "nama": "Perusahaan 1",
        "karyawan": [
            {"nama": "John Doe", "kewarganegaraan": "Australia"},
            {"nama": "Robert White", "kewarganegaraan": "Australia"},
            {"nama": "Ying Han Tan", "kewarganegaraan": "Hongkong"}
        ]
    },
    {
        "nama": "Perusahaan 2",
        "karyawan": [
            {"nama": "Tom Smith", "kewarganegaraan": "Hongkong"},
            {"nama": "Rubby Lee", "kewarganegaraan": "Amerika Serikat"}
        ]
    },
    {
        "nama": "Perusahaan 3",
        "karyawan": [
            {"nama": "Kenneth Ng", "kewarganegaraan": "Amerika Serikat"},
            {"nama": "Andrew Sebastian", "kewarganegaraan": "Amerika Serikat"}
        ]
    }
]

# Fungsi untuk menghitung kewarganegaraan karyawan per perusahaan
def hitung_kewarganegaraan(perusahaan_list):
    hasil = []
    for p in perusahaan_list:
        kewarganegaraan_count = {}
        for karyawan in p["karyawan"]:
            kewarganegaraan = karyawan["kewarganegaraan"]
            if kewarganegaraan in kewarganegaraan_count:
                kewarganegaraan_count[kewarganegaraan] += 1
            else:
                kewarganegaraan_count[kewarganegaraan] = 1
        hasil.append({
            "perusahaan": p["nama"],
            "kewarganegaraan_karyawan": kewarganegaraan_count
        })
    return hasil

# Memanggil fungsi dan menampilkan hasil
daftar_perusahaan = hitung_kewarganegaraan(perusahaan)
print(daftar_perusahaan)

[{'perusahaan': 'Perusahaan 1', 'kewarganegaraan_karyawan': {'Australia': 2, 'Hongkong': 1}}, {'perusahaan': 'Perusahaan 2', 'kewarganegaraan_karyawan': {'Hongkong': 1, 'Amerika Serikat': 1}}, {'perusahaan': 'Perusahaan 3', 'kewarganegaraan_karyawan': {'Amerika Serikat': 2}}]